
.text-grey{
  color:ft3;
}
.text-green{
  color:mc;
}
.text-blue{
  color:aux3;
}
.blue-text{
  color:aux3;
}
.yellow-text{
  color:aux2;
}

.red-text{
  color:aux5;
}

.width-a{
  width:auto !important;
}

.w-100{
  width:100px;
}

.w-85{
  width:85px;
}

//字号大小
.czy-f14{
  font-size:14px;
}
.czy-f12{
  font-size:12px;
}
//浮动
.float-l{
  float:left;
}
.float-r{
  float:right;
}
.float-n{
  float:none;
}
//paddind边距
.pad-0{
  padding:0;
}
.pad-l0{
  padding-left:0;
}
.pad-r0{
  padding-right:0;
}
.pad-b0{
  padding-bottom:0;
}
.pad-b75{
  padding-bottom:75px;
}
.pad-t0{
  padding-top:0;
}
.pad-t8{
  padding-top:8px;
}
.pad-l10{
  padding-left:10px;
}
.pad-l20{
  padding-left:20px;
}
.pad-r10{
  padding-right:10px; 
}
.pad-r20{
  padding-right:20px;
}

//margin边距
.mar-l0{
  margin-left:0;
}
.mar-l10-{
  margin-left:-10px;
}
.mar-l10{
  margin-left:10px;
}

.mar-l20{
  margin-left:20px;
}

.mar-l67{
  margin-left:67px;
}
.mar-l78{
  margin-left:78px;
}

.select-mar-l78{
  .bui-select{
    margin-left:78px;
    input{
      width:100%;
    }
  }
  .ms-parent {
    margin-left:78px;
  }
}

.mar-l98{
  margin-left:98px;

}

.select-mar-l98{
  .bui-select{
    margin-left:98px;
    input{
      width:100%;
    }
  }
  .ms-parent {
    margin-left:98px;
  }
}

.mar-l113{
  margin-left:113px;
}
.select-mar-l113{
  .bui-select{
    margin-left:113px;
    input{
      width:100%;
    }
  }
  .ms-parent {
    margin-left:113px;
  }
}

.mar-l143{
  margin-left:143px;
}

.select-mar-l143{ 
  .bui-select{
    margin-left:143px;
    input{
      width:100%;
    }
  }

  .ms-parent {
    margin-left:143px;
  }
}

.mar-r0{
  margin-right:0;
}
.mar-r5{
  margin-right:5px;
}
.mar-r10{
  margin-right:10px;
}
.mar-r20{
  margin-right:20px;
}
.mar-b0{
  margin-bottom:0;
}
.mar-t30-{
  margin-top:-30px;
}
.mar-t0{
  margin-top:0;
}
.mar-t5{
  margin-top:5px;
}
.mar-t10{
  margin-top:10px;
}

.mar-b0{
  margin-bottom:0;
}

.mar-b10{
  margin-bottom:10px;
}

.mar-b20{
  margin-bottom:20px;
}

.mar-b30{
  margin-bottom:30px;
}



//清除浮动
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}

.czy-both{
  clear: both;
}

//块title
.thunk-title{
  font-size:14px;
  font-weight:bold;
  margin-bottom:15px;
}

//横线
.border-row{
  border-bottom:1px solid mbd;
}

//超出...
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//必选标识
.must-sign{
  color:aux5;
  vertical-align: middle;
  margin-left:5px;
}

//宽度均分
.czy-average-w{
  width:50%;
}
 //行内块居中
.content-center{
  text-align center
}
//行内块居右
.content-right{
  text-align right
}

//img盒子
.img-box{
  img{
    width:100%;
    height:100%;
  }
}

//红点提示
.hint-red{
  display inline-block;
  color:mcb;
  padding-left:3px;
  padding-right:3px;
  max-width:30px;
  height:15px;
  line-height:15px;
  border-radius:4px;
  background:aux5;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow hidden;
  cursor: pointer;
  vertical-align: middle;
}

//橙色提示
.hint-orange{
  @extend .hint-red;
  background:aux6;
}

.hint-green{
  @extend .hint-red;
  background:mc;  
}

//背景色
.g-BG-orange{
  background:aux1;
}

.g-BG-yellow{
  background:aux2;
}

.g-BG-white{
  background:mcb;
}

.bui-overlay{
 position: absolute;
 left: -9999px;
 top: -9999px;
}

.bui-picker {
  z-index: 1200;
}



//key width
.key-par-w120{
  .czy-key{
    width:120px;
  }
}



.key-par-w100{
  .czy-key {
      width: 100px;
  }
}

.mar-l110{
  margin-left:110px;
}

.select-mar-l110{ 
  .bui-select{
    margin-left:110px;
  }
  .ms-parent {
    margin-left:110px;
  }
}


.key-par-w85{
  .czy-key {
      width: 85px;
  }
}

.mar-l95{
  margin-left:95px;
}

.select-mar-l95{ 
  .bui-select{
    margin-left:95px;
  }
  .ms-parent {
    margin-left:95px;
  }
}





//显示方式
.czy-none{
  display:none;
}

.czy-block{
  display:block;
}

.czy-inline-block{
  display:inline-block;
  vertical-align middle;
}
.bui-inline-block {
  display: inline-block;
}
