.czy-icon{
  display:inline-block;
  vertical-align middle;
}

//灰色搜索标
.czy-icon-search-grey{
  sbg('../../img/handle-sprite.png',0,-66px);
  width:15px;
  height:15px;
}

//选中下角标
.czy-icon-seleced{
  sbg('../../img/icon_checked.png',50%,50%);
  width:15px;
  height:15px;
}

//实心三角
.lump-arrows-up{
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:5px solid mc;
}
.lump-arrows-down{
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:none;
  border-top:5px solid mc;
}


  //线箭头箭头
.line-arrows-up{
  sbg('/assets/img/arrows-up-down.png',0,0);
  width: 9px;
  height: 5px;
}
.line-arrows-dowm{
  sbg('/assets/img/arrows-up-down.png',0,-7px);
  width: 9px;
  height: 5px;
}
//指向
.czy-icon-point{
  sbg('../../img/icon-point.png',0,0);
  width:23px;
  height:12px;
  vertical-align: inherit;
}

//文件
.czy-file-icon{
  sbg('../../img/warning-sprite.png',0,-124px);
  width:25px;
  height:30px;
}

//文件内容
.icon-file-conten{
  width:17px;
  height:17px;
  sbg('../../img/handle-sprite.png',0,-82px);
}

//提示
.czy-icon-tooltip{
  width:16px;
  height:16px;
  sbg('../../img/icon_tooltip.png',0,0);
}

//关闭
.czy-close-selected{
  font-size:25px;
  line-height 1;
  cursor pointer;
}
//错误
.czy-error-icon{
  width:21px;
  height:18px;
  sbg('../../img/warning-sprite.png',0,0);
}
//警告
.czy-warning-icon{
  width:21px;
  height:18px;
  sbg('../../img/warning-sprite.png',0px,-21px);
}
//奖励
.czy-cite-icon{
  width:21px;
  height:21px;
  sbg('../../img/warning-sprite.png',0px,-41px);
}
//电脑
.czy-icon-computer{
  width:18px;
  height:18px;
  sbg('../../img/icon_computer.png',50%,50%);
}
//闪电
.czy-icon-speed{
  width:16px;
  height:22px;
  sbg('../../img/icon_speed.png',50%,50%);
}
//书
.czy-icon-book{
  width:17px;
  height:20px;
  sbg('../../img/icon_book.png',50%,50%);
}
//放大镜
.czy-icon-search{
  width:20px;
  height:20px;
  sbg('../../img/icon_search.png',50%,50%);
}
//退出
.czy-icon-out{
  width:15px;
  height:17px;
  sbg('../../img/icon_out .png',50%,50%);
}

//头
.czy-icon-header{
  width:19px;
  height:19px;
  sbg('../../img/icon_header.png',50%,50%);
}

//信
.czy-icon-letter{
  width:20px;
  height:16px;
  sbg('../../img/icon/ZNDX.PNG',50%,50%);
}

//安全管理
.czy-icon-safety{
  width:20px;
  height:24px;
  sbg('../../img/icon/AQXIGL.PNG',50%,50%);  
}

//事件调查
.czy-icon-SJDC{
  width:20px;
  height:24px;
  sbg('../../img/icon/SJDC.PNG',50%,50%);  
}

//安全与质量监督审核
.czy-icon-JCSH{
  width:20px;
  height:19px;
  sbg('../../img/icon/JCSH.PNG',50%,50%);  
}

//纠正预防
.czy-icon-JZYF{
  width:20px;
  height:24px;
  sbg('../../img/icon/JZYF.PNG',50%,50%);  
}

//风险管理
.czy-icon-FXGL{
  width:20px;
  height:20px;
  sbg('../../img/icon/FXGL.PNG',50%,50%);  
}

//安全通报与文件
.czy-icon-AQTB{
  width:20px;
  height:17px;
  sbg('../../img/icon/AQTB.PNG',50%,50%);  
}

//系统管理
.czy-icon-XTSZ{
  width:20px;
  height:20px;
  sbg('../../img/icon/XTSZ.PNG',50%,50%);  
}


//时间
.czy-icon-time{
  width:17px;
  height:16px;
  sbg('../../img/handle-sprite.png',0,-49px);
}

//left箭头
.line-arrows-left{
  width: 6px;
  height: 11px;
  sbg('../../img/icon-arrows-left.png',50%,50%);
}
//right箭头
.line-arrows-right{
  width: 6px;
  height: 11px;
  sbg('/assets/img/icon-arrows-right.png',50%,50%);  
}

.icon-phone{
  width: 14px;
  height: 20px;
  sbg('/assets/img/icon-arrows-right.png',50%,50%);  
}

//发布
.czy-icon-fabu{
  width:25px;  
  height:16px;
  sbg('../../img/icon/fabu_2.png',50%,50%);  
}

.czy-icon-fabu-disable{
  @extend .czy-icon-fabu
  sbg('../../img/icon/fabu_1.png',50%,50%);  
}

//编辑
.czy-icon-bianji{
  width:16px;
  height:16px;
  sbg('../../img/icon/bianji_2.png',50%,50%);  
}
.czy-icon-bianji-disable{
  @extend .czy-icon-bianji
  sbg('../../img/icon/bianji_1.png',50%,50%);  
}

//删除
.czy-icon-sanchu{
  width:14px;
  height:15px;
  sbg('../../img/icon/sanchu_2.png',50%,50%);  
}
.czy-icon-sanchu-disable{
  @extend .czy-icon-sanchu
  sbg('../../img/icon/sanchu_1.png',50%,50%);  
}

//取消发布
.czy-icon-unfabu{
  width:25px;  
  height:16px;
  sbg('../../img/icon/unfabu_2.png',50%,50%);  
}

.czy-icon-unfabu-disable{
  @extend .czy-icon-fabu
  sbg('../../img/icon/unfabu_1.png',50%,50%);  
}

//加入监控
.czy-icon-jiankong{
  width:18px;  
  height:16px;
  sbg('../../img/icon/jiankong_2.png',50%,50%);  
}

.czy-icon-jiankong-disable{
  @extend .czy-icon-jiankong
  sbg('../../img/icon/jiankong_1.png',50%,50%);  
}

//结束
.czy-icon-jieshu{
  width:18px;  
  height:19px;
  sbg('../../img/icon/jieshu_2.png',50%,50%);  
}

.czy-icon-jieshu-disable{
  @extend .czy-icon-jieshu
  sbg('../../img/icon/jieshu_1.png',50%,50%);  
} 

//处理
.czy-icon-chuli{
  width:20px;    
  height:15px;
  sbg('../../img/icon/chuli_2.png',50%,50%);  
}

.czy-icon-chuli-disable{
  @extend .czy-icon-chuli
  sbg('../../img/icon/chuli_1.png',50%,50%);  
}

//修正信息
.czy-icon-xiuzheng{
  width:16px;  
  height:16px;
  sbg('../../img/icon/xiuzheng_2.png',50%,50%);  
}

.czy-icon-xiuzheng-disable{
  @extend .czy-icon-xiuzheng
  sbg('../../img/icon/xiuzheng_1.png',50%,50%);  
}

//生成部门绩效
.czy-icon-jixiao{
  width:19px;  
  height:19px;
  sbg('../../img/icon/jixiao_2.png',50%,50%);  
}

.czy-icon-jixiao-disable{
  @extend .czy-icon-jixiao
  sbg('../../img/icon/jixiao_1.png',50%,50%);  
}

//重启调查
.czy-icon-jdiaocha{
  width:18px;  
  height:17px;
  sbg('../../img/icon/jdiaocha_2.png',50%,50%);  
}

.czy-icon-jdiaocha-disable{
  @extend .czy-icon-jdiaocha
  sbg('../../img/icon/jdiaocha_1.png',50%,50%);  
}

//查看
.czy-icon-chakan{
  width:23px;  
  height:14px;
  sbg('../../img/icon/chakan_2.png',50%,50%);  
}

.czy-icon-chakan-disable{
  @extend .czy-icon-chakan
  sbg('../../img/icon/chakan_1.png',50%,50%);  
}

//发送检查
.czy-icon-fasong{
  width:16px;  
  height:16px;
  sbg('../../img/icon/fasong_2.png',50%,50%);  
}

.czy-icon-fasong-disable{
  @extend .czy-icon-fasong
  sbg('../../img/icon/fasong_1.png',50%,50%);  
}

//流转日志
.czy-icon-rizhi{
  width:16px;  
  height:16px;
  sbg('../../img/icon/rizhi_2.png',50%,50%);  
}

.czy-icon-rizhi-disable{
  @extend .czy-icon-rizhi
  sbg('../../img/icon/rizhi_1.png',50%,50%);  
}

//启用
.czy-icon-qiyong{
  width:16px;  
  height:16px;
  sbg('../../img/icon/qiyong_2.png',50%,50%);  
}

.czy-icon-qiyong-disable{
  @extend .czy-icon-qiyong
  sbg('../../img/icon/qiyong_1.png',50%,50%);  
}

//停用
.czy-icon-tingyong{
  width:16px;  
  height:16px;
  sbg('../../img/icon/tingyong_2.png',50%,50%);  
}

.czy-icon-tingyong-disable{
  @extend .czy-icon-tingyong
  sbg('../../img/icon/tingyong_1.png',50%,50%);  
}

//分配角色
.czy-icon-fenpei{
  width:23px;  
  height:16px;
  sbg('../../img/icon/fenpei_2.png',50%,50%);  
}

.czy-icon-fenpei-disable{
  @extend .czy-icon-fenpei
  sbg('../../img/icon/fenpei_1.png',50%,50%);  
}



